<app-sidenav></app-sidenav>

<div class="dashboard-card">
  <div class="avatar-container">
    <mat-card class="avatar-card">
      <mat-card-header>
        <mat-card-title>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
         <img src="assets/avatar.png">
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="personal-information-container">
    <mat-card class="personal-information-card">

<h1>Panel użytkownika</h1>

    </mat-card>

  </div>
</div>