<div class="container">

<ul class="nav nav-pills ">
  <li class="nav-item">
    <a class="nav-link" routerLink="">List of patients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="examinationList">Examinations</a>
    <router-outlet></router-outlet>
  </li>
  </ul>
 <table class="table table-striped">
<thead>
    <th>Id</th>
    <th>Name</th>
    <th>Type</th>
    <th>Operation</th>
</thead>
<tbody>
    <tr *ngFor="let examination of examinations">
        <td>{{examination.id}}</td>
        <td>{{examination.name}}</td>
        <td>{{examination.type}}</td>
       <!-- <td><a [routerLink]="['/examinationList',examination.id,'questions']">Edit</a> </td> -->
       <td><a [routerLink]="['/examinationList/upsert', examination.id]">Edit</a> </td>
      </tr>
</tbody>
</table>
<button class="btn btn-success" (click)="onSelect(createExamination())">New Examination</button>
</div>

