<div class="container">

  <form [formGroup]="examinationForm" id="examinationForm" (ngSubmit)="onExaminationSubmit()" novalidate>

    <input class="form-control" formControlName="name">
    <input class="form-control" formControlName="type">

    <form [formGroup]="questionForm" id="questionForm" (ngSubmit)="onQuestionSumbit(questionForm.value)"  novalidate>
      <input class="form-control" formControlName="questionName">

      <app-list-questions [examination]="examination"></app-list-questions>
      <button type="submit" form="questionForm">add Question</button>
       


      
  </form>
</form>

<button type="submit" form="examinationForm">add Examination </button>
</div>
