.example-card {
  max-width: 60%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.tab-group{
  max-width: 80%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;

}

.a{
 position: sticky;
}





