<form>
    <mat-form-field>
      <mat-select placeholder="Choose Patient" [(ngModel)]="selectedPatient" name="patient">
        <mat-option *ngFor="let patient of patients" [value]="patient.name">
          {{patient.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <p> Selected Patient: {{selectedPatient}} </p>
  </form>

  <form>
      <mat-form-field>
        <mat-select placeholder="Choose Examination" [(ngModel)]="selectedExamination" name="examination">
          <mat-option *ngFor="let examination of examinations" [value]="examination.name">
            {{examination.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <p> Selected Examination: {{selectedExamination}} </p>
    </form>
  